* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #a18cd1, #fbc2eb);
  color: #333;
}

h1,
h3,
h4,
h5,
h6 {
  color: #333;
}

.doctor-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s;
}

.doctor-img:hover {
  transform: scale(1.05);
}
.appointments {
  width: 100%;
  max-width: 1200px;
  min-width: 275px;
  border-radius: 0.3rem;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: start;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  position: relative;
  box-shadow: 0px 3px 3px rgba(0 0, 0, 0.3);
}

.consulted {
  border-left: 1rem solid rgb(166, 18, 189);
}
.consulted::after {
  content: "CONSULTED";
  background-color: rgb(166, 18, 189);
  color: white;
  font-size: 1rem;
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 0.5rem;
  transform: translate(-50%, -50%);
}

.appointments h4 {
  margin: 0;
  color: rgb(166, 18, 189);
}

.appointments h5,
.appointments h6 {
  margin: 0;
}

.modal-content {
  border-radius: 8px;
}

.modal-header,
.modal-body,
.modal-footer {
  padding: 1rem;
}

.modal-footer .btn {
  margin: 0 0.5rem;
}

@media (max-width: 576px) {
  .name {
    font-size: 2rem;
  }
  .dep {
    font-size: 1.5rem;
  }
}
